<!--
Created by IntelliJ IDEA.
User: 54274
Date: 2022/11/24
Time: 9:36
To change this template use File | Settings | File Templates.
-->
<link rel="stylesheet" href="/hotel/style.css">
<html>
<head>
    <title>操作失败</title>
</head>

<body onload="randoms()">
<section>
    <!-- 背景颜色 -->
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">
        <!-- 背景圆 -->
        <div class="circle" style="--x:0"></div>
        <div class="circle" style="--x:1"></div>
        <div class="circle" style="--x:2"></div>
        <div class="circle" style="--x:3"></div>
        <div class="circle" style="--x:4"></div>
        <!-- 登录框 -->
        <div class="container">
            <div class="form">
                <h2>操作失败失败</h2>
                <p class="forget"></p>
            </div>
        </div>
    </div>
</section>
</body>

</html>
